@inject IWebHostEnvironment env

@{
    ViewData["Title"] = "Spreadsheet";
}

<h1>Spreadsheet</h1>


@(Html.DevExpress()
    .Spreadsheet("spreadsheet")
    .DocumentRequestHandlerUrl(Url.Action("DxDocumentRequest")))